server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/booking_db
    username: booking
    password: booking
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: UTC
    open-in-view: false
  flyway:
    enabled: true
    locations: classpath:db/migration
  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false

logging:
  level:
    org.springframework.security: INFO

jwt:
  secret: bXktc3VwZXItc2VjcmV0LWtleS1mb3ItYm9va2luZy1hcHAtaW4tMjAyNA==
  expiration: 3600000

app:
  admin:
    username: admin
    email: admin@booking.local
    password: AdminPass123!
